@model Harman.Web.Data.Entities.DetallesOrdenDeCompra

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetallesOrdenDeCompra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PurchaseOrderID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PurchaseOrderID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producto.ArticleCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetallesOrdenDeCompraID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
