@model Harman.Web.Data.Entities.TipoDeTransaccion

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>TipoDeTransaccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TransactionTypecode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TransactionTypecode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionTipoDeTransaccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionTipoDeTransaccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TipoDeTransaccionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
