@model Harman.Web.Data.Entities.DetallesDeVenta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>DetallesDeVenta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Venta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Venta.VentaID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Producto)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Producto.ArticleCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.discountamount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.discountamount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DetallesDeVentaID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
