@model Harman.Web.Data.Entities.Suplidor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suplidor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierDocumentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierDocumentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierCellPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierCellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SupplierRemarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SupplierRemarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClasificacionSuplidor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClasificacionSuplidor.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TipoDocumento.DescripcionTipoDocumento)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ciudad.CityName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SupplidorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
