@model Harman.Web.Data.Entities.Producto

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArticleCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleModel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleModel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleEntryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleEntryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticlePrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticlePrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleMinimumAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleMinimumAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleQuantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleQuantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleRemarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleRemarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArticleClassificationID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArticleClassificationID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Marca.NombreMarca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Unidad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Unidad.NombreUnidad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ubicacion.NombreUbicacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductoID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
