@model Harman.Web.Data.Entities.TasaDeCambio

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TasaDeCambio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacionTasaDeCambio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FechaCreacionTasaDeCambio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExchangeValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExchangeValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Moneda)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Moneda.CodigoMoneda)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TasaDeCambioID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
