@model Harman.Web.Data.Entities.Transportista

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Transportista</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourierCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierAccount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierAccount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierContactName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierContactName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierCellPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierCellPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierStartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierStartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CourierRemarks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CourierRemarks)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ciudad.CityName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourierID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
