@model Harman.Web.Data.Entities.Vendedor

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodigoVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CodigoVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescripcionVendedor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescripcionVendedor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerCommissionPercent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellerCommissionPercent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerDiscountValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellerDiscountValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendedorID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
