@model IEnumerable<Harman.Web.Data.Entities.Venta>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaDeVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoDeVenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModoDePago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDeTransaccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NcfId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDeVenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CustomerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendedor.DescripcionVendedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoDePago.DescripcionModoDePago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDeTransaccion.DescripcionTipoDeTransaccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NcfId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VentaID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VentaID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VentaID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
